@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --primary: #1db954;
  --secondary: #142b1c;
  --title: #c4c4c4;
  --paragraph: #ffffff;
  --background: #000000;
  --dark: #191414;
  --shadow: #a2a2a2;
}

body {
  background-color: var(--background);
  overflow: auto;
}

/*scroll styles*/
.scroll::-webkit-scrollbar {
  width: 18px;
}

.scroll::-webkit-scrollbar-track {
  border-radius: 2px;
  background-color: var(--background);
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: var(--shadow);
}

/* Horizontal scroll */
#horizontal-child {
  position: relative;
  display: block;
  overflow: scroll;
  transform-origin: 100% 0%;
  transform: rotate(-90deg) translateY(-100vh);
}

#horizontal-child #slide {
  transform-origin: 0% 0%;
  transform: rotate(90deg) translateY(-100%);
}

#horizontal-child #slide > div:last-of-type {
  margin-right: em;
}