@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --primary: #1db954;
  --secondary: #142b1c;
  --title: #c4c4c4;
  --paragraph: #ffffff;
  --background: #121212;
  --dark: #191414;
  --shadow: #A2A2A2;
}

body {
  background-color: var(--background);
}


div::-webkit-scrollbar {
  width: 18px;
}

div::-webkit-scrollbar-track {
  border-radius: 2px;
  background-color: var(--background);
}

div::-webkit-scrollbar-thumb {
  border-radius: 8px;
border: 4px solid transparent;
 background-clip: content-box;
  background-color: var(--shadow);
}